.app {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}

.amigos-chat:hover {
  background-color: #efefef;
}

#chat-info {
  font-size: 10px;
}
.user_status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.online {
  background: #34eb52;
}
.offline {
  background: red;
}

/* ------------------------------------- */

.chat_container {
  min-width: 265px;
  height: 100vh;
  background-color: #fafafa;
  margin: 0;
  padding: 90px 0px 0px 0px;
  overflow: hidden;
}

.chat-container {
  min-width: 265px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffff;
  border: 1px solid rgb(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}

.usuario-nombre-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.usuario-nombre {
  min-width: 140px;
}

.friends-container {
  width: 100%;
  overflow-y: scroll;
  height: 455px;
}

.chat-container-inner {
  width: 100%;
}

.div-modal {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-chat {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.texto-mensaje {
  color: rgb(0, 0, 0, 0.4);
}

.img-amigo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 15px;
}

.link-friend {
  font-weight: bold;
  color: black;
}

.link-friend:hover {
  color: black;
}

.contenedor-mensajes {
  height: 400px;
  overflow-y: scroll;
  background-color: rgb(0, 0, 0, 0.2);
}

/* 57 */
.barra-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
  height: 45px;
  width: 90%;
  border-radius: 2rem;
  border: 1px solid rgb(0, 0, 0, 0.3);
}

.input-texto {
  width: 75%;
  outline: none;
  border: none;
}
