.container {
  /* background-color: blue; */
  margin-top: 28px;
  width: 100%;
  padding: 0;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.header {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  /* background-color: white; */
}

.comentario {
  display: flex;
  width: 100%;
  word-break: break-all;
  line-height: 11px;
  margin-bottom: 5px;
}

.comentario p {
  margin: 0;
}

.header a {
  margin-left: 15px;
}

.header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-photo {
  width: 100%;
  height: auto;
}

.post-photo img {
  width: 100%;
  height: auto;
}

.likes {
  padding: 10px;
  width: 100%;
}

.likes-count {
  margin-left: 10px;
}

.comment-post-user {
  padding-left: 15px;
}

.post__comments {
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.comment__form {
  width: 100%;
}
.comment__wrapper {
  display: flex;
  width: inherit;
  background-color: #fafafa;
  border-top: 1px solid lightgray;
  padding: 8px;
}
.comment__wrapper input {
  width: 80%;
  border: none;
  background: transparent;
}
.comment__wrapper input:focus {
  outline: none;
}

.comment__wrapper button {
  width: 20%;
  text-align: center;
}

.like {
  border: none;
  background-color: transparent;
}

.liked {
  color: #fb3958;
}
